body {
    font-family: Arial;
    padding: 10px;
    background-color: #f1f1f1;
}
* {
    box-sizing: border-box;
}
.header {
    background-color: white;
    text-align: center;
    padding: 30px;
}

.header h1 {
    font-size: 50px;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.column.left {
    width: 75%;
    float: left;
}

.column.right {
    width: 25%;
    float: left;
    padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear:both; 
}

.card {
    margin-top: 15px;
    padding: 15px;
    background-color: #ffffff;
}

.footer {
    background-color: #cecece;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.fakeimg {
    width: 100%;
    background-color: #f1f1f1;
    height: 200px;
    padding: 20px;
}

@media screen and (max-width: 600px)
{
    .column.left, .column.right {
        width: 100%;
        padding: 0;
    }
}
